<div class="padding">
  <h5>Form</h5>
  <br>
  <div class="card">
    <form [formGroup]="form">
      <div class="" formArrayName="entity">
        <div *ngFor="let comp of form['controls'].entity['controls']; let i=index">
            <div class="heading-main">
                <h5>Entity {{i+1}}: </h5>
                <span>
                  <i class="zmdi zmdi-delete" (click)="deleteEntity(i)" *ngIf="i>0"></i>
                </span>
              </div>
              
              <div [formGroupName]="i">
                  <div>
                      <mat-form-field class="padding-horizontal">
                        <input matInput placeholder="Input" type="text" formControlName="box">
                        <mat-error *ngIf="form.controls['entity']['controls'][i]['controls']['box'].errors?.notvalid">
                            Enter number between 0000 to 9999
                          </mat-error> 
                      </mat-form-field>
                    </div>
                <div class="row">
                    <div class="col-md-3 col-main" *ngFor="let data of amounts">
                        <mat-form-field class="example-full-width">
                          <input matInput [placeholder]="data?.label" type="number" [formControlName]="data?.key">
                          <mat-error *ngIf="form.controls['entity']['controls'][i]['controls'][data?.key].errors?.nan">
                            Not a number
                          </mat-error>
                          <mat-error *ngIf="form.controls['entity']['controls'][i]['controls'][data?.key].errors?.notvalid">
                            Enter an amount between 10 to 1000
                          </mat-error>  
                        </mat-form-field>
                      </div>
                </div>
                <div class="row">
                  <div class="col-md-2" *ngFor="let data of checkboxes">
                    <mat-checkbox [formControlName]="data?.key">{{data?.label}}</mat-checkbox>
                  </div>
                </div>
                <p>Subtotal: {{totalArray[i]?totalArray[i].subTotal:0}}</p>
              </div>
        </div>
       
      </div>
      <br>
     <!-- <pre>{{form.value | json}}</pre> -->
     <div class="text-right">
      <button class="btn btn-primary" [disabled]="(checkValid?.length > 0 || form.invalid)" (click)="submit(form.value)">Save</button>
     </div>
    </form>
  </div>
  <div>
    <br>
    Net Total : {{netTotal}}
  </div>
</div>

<div class="create-direct" (click)="addEntity()">
    <i class="zmdi zmdi-plus-circle"></i>
  </div>